.wrapper {
	.overview {
		.info {
			display: grid;
			grid-template-columns: 1fr auto;
			align-items: center;
			.description {
				grid-column: 1;
				display: grid;
				grid-template-rows: 1fr 1fr;
				.cta {
				}
			}
			.image {
				grid-column: 2;
				img {
					height: 20vh;
					border-radius: 1.75rem;
				}
			}
		}
	}
	.content {
		:global(.viewer) {
			margin-top: 7.5vh;
			:global(.text) {
				margin-top: -7.5vh;
			}
		}
	}
}
